:root{
    --DefaultColor: #d43031;
}

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    font-size: 16px;
    line-height: 1.4;
    color: #777;
    font-family: 'Open Sans', serif;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.header{
    background: #FFF;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: serif;
    font-weight: 100;
    z-index: 10;
}

.nav a{
    margin: 0 30px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color: #eee;
    font-family: sans-serif;
    letter-spacing: 2px;
    transition: color .5s;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
}

.nav a:hover{
    color: var(--DefaultColor);
}

.banniere{
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.25), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
                url('img/intro-bg.jpg') center center / cover no-repeat;
    height: 600px;
}

.infos{
    display: inline-block;
    position: absolute;
    margin: 180px 550px;
}

.infos h1{
    text-transform: capitalize;
    font-size: 9rem;
    font-weight: 400;
    font-family: "Rochester", cursive;
    color: #FFF;
}

.infos p{
    padding-top: 130px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: #eee;
}

.main_our_specials{
    margin: 150px 160px;
}

.main_our_specials h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 25px;
    color: #000;
}

.main_our_specials h2::after{
    content: '';
    position: relative;
    display: block;
    width: 60px;
    height: 2px;
    background: #d43031;
    margin-left: 520px;
    margin-top: 10px;
}

.main_our_specials_image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.main_our_specials_image h3{
    text-align: center;
    font-weight: 100;
    color: #000;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.main_our_specials_image p{
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.box_1 img, .box_2 img, .box_3 img{
    width: 320px;
    height: 230px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.main_bout{
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.main_bout_left{
    width: 1950px;
    height: auto;
    margin-right: 120px;
}

.main_bout_left img{
    width: 100%;
    height: 550px;
    padding-bottom: 20px;
}

.main_bout_right h2{ 
    padding: 80px 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 25px;
    color: #000;
}

.main_bout_right h2::after{
    content: '';
    position: relative;
    display: block;
    width: 55px;
    height: 2px;
    background: #d43031;
    margin-top: 10px;
}

.main_bout_right p{
    padding-right: 300px;
    padding-bottom: 30px;
    text-align: left;
}

.main_bout_right p:last-child{
    padding-bottom: 0;
}

.main_menu h2{
    text-align: center;
    padding: 100px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 25px;
    color: #000;
}

.main_menu h2::after{
    content: '';
    position: relative;
    display: block;
    width: 55px;
    height: 2px;
    background: #d43031;
    margin-top: 10px;
    margin-left: 685px;   
}

.main_menu p{
    padding-bottom: 20px;
    padding-left: 155px;
    padding-right: 155px;
    text-align: justify;
    font-weight: 400;
}

.main_menu_image{
    display: flex;
    margin-top: 150px;
    margin-bottom: 20px;
}

.main_menu_image img, .main_menu_images img{
    width: 100%;
    height: 250px;
}

.main_menu_images{
    display: flex;
}

.main_chef{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 110px 0;
}

.main_chef_left{
    width: 1800px;
    height: auto;
}

.main_chef_right h2{ 
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 30px;
    color: #000;
}

.main_chef_right h2::after{
    content: '';
    position: relative;
    display: block;
    width: 55px;
    height: 2px;
    background: #d43031;
    margin-top: 5px;
    margin-left: 200px;
    margin-bottom: 80px;
}

.main_chef_right p{
    padding-right: 155px;
    padding-left: 200px;
    text-align: left;
    padding-bottom: 10px;
}

.footer_top{
    background-color: #333;
}

.footer_top_1{
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}

.box_top, .box_middien, .box_bottom{
    padding-top: 120px;
    padding-bottom: 120px;
}

.box_top span, .box_middien span, .box_bottom span{
    display: block;
    padding-bottom: 5px;
}

.footer_top_1 h2{
    padding-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #aaa;
}

.footer_top_1 h2::after, .footer_top_2 h2::after{
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background: var(--DefaultColor);
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box_middien h2::after{
    margin-left: 60px;
}

.box_bottom h2::after{
    margin-left: 85px;
}

.footer_top_1 p{
    font-size: 15px;
}

.footer_top_2{
    display: block;
    text-align: center;
}

.footer_top_2 h2{
    padding-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #aaa;
    letter-spacing: 2px;
}

.footer_top_2 h2::after{
    margin-left: 690px;
}

.footer_top_2 input{
    width: 298px;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, .2);
    color: #ccc;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.footer_top_2 textarea{
    padding: 0 10px;
    background-color: rgba(255, 255, 255, .2);
    color: #ccc;
    border: none;
    outline: none;
}

.footer_top_2 button{
    margin: 40px 0 60px 0;
    padding: 15px 30px;
    border: 2px solid #777;
    text-transform: uppercase;
    color: #777;
    background-color: transparent;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.footer_top_2 button:hover{
    background: var(--DefaultColor);
    border: var(--DefaultColor);
    color: #ddd;
}

.footer_bottom{
    display: flex;
    justify-content: space-around;
    background: #262626;
    padding: 40px 0;
}

.footer_bottom_infos p{
    font-size: 15px;
    color: #666;
}

.footer_bottom_infos p span{
    color: #999;
}

.footer_bottom_social a i{
    font-size: 20px;
}

.footer_bottom_social a{
    padding: 0 20px;
    color: #999;
}

.footer_bottom_social a:hover{
    color: #ccc;
}